# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AdultPrototype.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Bradley\2020-2021\Semseter 1\IM 388\AdultPrototype\.idea\.idea.AdultPrototype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
