player-connection-mode=Listen
player-connection-guid=511788320
player-connection-debug=0
player-connection-project-name=AdultPrototype
player-connection-ip=136.176.112.181
player-connection-ip=192.168.255.1
player-connection-ip=192.168.72.1
player-connection-ip=192.168.56.1
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
gc-max-time-slice=3
